/* layout/Index.vue */
.layout-container {
  height: 100%;
}
.layout-header {
  height:50px;
  background: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(20, 20, 20, 0.1);
  z-index: 999;
}
.layout-aside {
  height: 100%;
  background: #304156;
  color: #BFCBD9;
}
.layout-main {
  padding: 15px;
}
.layout-main-bg {
  background: rgb(240, 240, 240);
}