<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heycm.mapper.CareerTalkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heycm.model.CareerTalk">
        <id column="id" property="id" />
    <result column="create_user" property="createUser" />
    <result column="create_time" property="createTime" />
    <result column="modify_user" property="modifyUser" />
    <result column="modify_time" property="modifyTime" />
    <result column="is_deleted" property="isDeleted" />
        <result column="job_fair_company_id" property="jobFairCompanyId" />
        <result column="career_talk_title" property="careerTalkTitle" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="career_talk_desc" property="careerTalkDesc" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        create_time,
        modify_user,
        modify_time,
        is_deleted,
        id, job_fair_company_id, career_talk_title, start_time, end_time, career_talk_desc, status
    </sql>
    <select id="pageList" resultType="com.heycm.dto.CareerTalkDTO">
        SELECT t1.* FROM (
            SELECT cjfc.id job_fair_company_id, cj.year_level_id year_id, ct2.type_name year_name, cj.quarter, cj.start_time job_fair_start_time, cj.end_time job_fair_end_time, cjfc.job_fair_id, cjfc.company_id, cj.job_fair_title, cjfc.campus_id, ct.type_name campus_name, cc.id, cc.career_talk_title, cc.start_time, cc.end_time, cc.career_talk_desc
            FROM crim_job_fair_company cjfc
            INNER JOIN crim_job_fair cj ON cjfc.job_fair_id = cj.id
            INNER JOIN crim_type ct2 ON cj.year_level_id = ct2.id
            INNER JOIN crim_type ct ON cjfc.campus_id = ct.id
            LEFT JOIN crim_career_talk cc ON cjfc.id = cc.job_fair_company_id AND cc.is_deleted = 0
            WHERE cjfc.is_deleted = 0
        ) t1
        ${ew.customSqlSegment}
    </select>
    <select id="stuPageList" resultType="com.heycm.dto.StudentCareerTalkDTO">
        SELECT t1.* FROM (
            SELECT ct.id year_id, ct.type_name year_name, cj.id job_fair_id, cj.job_fair_title, cj.quarter,ct2.type_name campus_name, cs.site_name, cs.site_desc, cjfc.company_id, cc.company_name, cct.id, cct.career_talk_title, cct.start_time, cct.end_time, star.id star_id, star.student_id star_student_id, ccts.id career_talk_student_id, ccts.student_id cts_student_id
            FROM crim_type ct
            INNER JOIN crim_job_fair cj ON ct.id = cj.year_level_id AND cj.is_deleted = 0
            INNER JOIN crim_job_fair_company cjfc ON cj.id = cjfc.job_fair_id AND cjfc.is_deleted = 0
            LEFT JOIN crim_type ct2 ON cjfc.campus_id = ct2.id
            LEFT JOIN crim_site cs ON cjfc.site_id = cs.id
            LEFT JOIN crim_company cc ON cjfc.company_id = cc.id AND cc.is_deleted = 0
            LEFT JOIN crim_career_talk cct ON cjfc.id = cct.job_fair_company_id AND cct.is_deleted = 0
            LEFT JOIN crim_star star ON cc.id = star.company_id AND star.is_deleted = 0 AND star.student_id = #{studentId}
            LEFT JOIN crim_career_talk_student ccts ON cct.id = ccts.career_talk_id AND ccts.is_deleted = 0 AND ccts.student_id = #{studentId}
            WHERE ct.pid = 5 AND ct.is_deleted = 0
        ) t1
        ${ew.customSqlSegment}
    </select>

</mapper>
