<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heycm.mapper.CareerTalkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heycm.model.CareerTalk">
        <id column="id" property="id" />
    <result column="create_user" property="createUser" />
    <result column="create_time" property="createTime" />
    <result column="modify_user" property="modifyUser" />
    <result column="modify_time" property="modifyTime" />
    <result column="is_deleted" property="isDeleted" />
        <result column="job_fair_company_id" property="jobFairCompanyId" />
        <result column="career_talk_title" property="careerTalkTitle" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="career_talk_desc" property="careerTalkDesc" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        create_time,
        modify_user,
        modify_time,
        is_deleted,
        id, job_fair_company_id, career_talk_title, start_time, end_time, career_talk_desc, status
    </sql>
    <select id="pageList" resultType="com.heycm.dto.CareerTalkDTO">
        SELECT t1.* FROM (
            SELECT cjfc.id job_fair_company_id, cj.year_level_id year_id, ct2.type_name year_name, cj.quarter, cj.start_time job_fair_start_time, cj.end_time job_fair_end_time, cjfc.job_fair_id, cjfc.company_id, cj.job_fair_title, cjfc.campus_id, ct.type_name campus_name, cc.id, cc.career_talk_title, cc.start_time, cc.end_time, cc.career_talk_desc
            FROM crim_job_fair_company cjfc
            INNER JOIN crim_job_fair cj ON cjfc.job_fair_id = cj.id
            INNER JOIN crim_type ct2 ON cj.year_level_id = ct2.id
            INNER JOIN crim_type ct ON cjfc.campus_id = ct.id
            LEFT JOIN crim_career_talk cc ON cjfc.id = cc.job_fair_company_id AND cc.is_deleted = 0
            WHERE cjfc.is_deleted = 0
        ) t1
        ${ew.customSqlSegment}
    </select>

</mapper>
