<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heycm.mapper.InterviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heycm.model.Interview">
        <id column="id" property="id" />
    <result column="create_user" property="createUser" />
    <result column="create_time" property="createTime" />
    <result column="modify_user" property="modifyUser" />
    <result column="modify_time" property="modifyTime" />
    <result column="is_deleted" property="isDeleted" />
        <result column="company_id" property="companyId" />
        <result column="career_talk_id" property="careerTalkId" />
        <result column="student_id" property="studentId" />
        <result column="job_name" property="jobName" />
        <result column="regular_pay" property="regularPay" />
        <result column="work_place" property="workPlace" />
        <result column="welfare" property="welfare" />
        <result column="is_last_choice" property="isLastChoice" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        create_time,
        modify_user,
        modify_time,
        is_deleted,
        id, company_id, career_talk_id, student_id, job_name, regular_pay, work_place, welfare, is_last_choice, status
    </sql>
    <update id="setIsLastChoiceZero">
        UPDATE crim_interview SET is_last_choice = 0 WHERE is_deleted = 0 AND student_id = #{studentId}
    </update>

</mapper>
