<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heycm.mapper.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heycm.model.School">
        <id column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="user_id" property="userId" />
        <result column="school_name" property="schoolName" />
        <result column="school_address" property="schoolAddress" />
        <result column="school_postal_code" property="schoolPostalCode" />
        <result column="school_desc" property="schoolDesc" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        create_time,
        modify_user,
        modify_time,
        is_deleted,
        id, user_id, school_name, school_address, school_postal_code, school_desc, status
    </sql>

    <!--  查学校代码  -->
    <select id="getCode" resultType="com.heycm.dto.SchoolCodeDTO">
        SELECT dep.id dept_id, dep.department_name dept_name, tab.pro_id, tab.pro_name, tab.year_id, tab.year_name, tab.class_id, tab.grade_class_name class_name
        FROM crim_department dep
        LEFT JOIN (
            SELECT tab.*, gc.id class_id, gc.grade_class_name
            FROM
            (
                SELECT pro.department_id, pro.id pro_id, pro.profession_name pro_name, ct.id year_id, ct.type_name year_name
                FROM crim_profession pro
                LEFT JOIN crim_type ct ON ct.pid = 5
                WHERE pro.is_deleted = 0 AND ct.is_deleted = 0
            ) tab
            LEFT JOIN crim_grade_class gc ON tab.pro_id = gc.profession_id AND tab.year_id = gc.year_level_id AND gc.is_deleted = 0
        ) tab ON dep.id = tab.department_id
        WHERE dep.is_deleted = 0
        ORDER BY tab.year_name DESC, dep.id, tab.pro_id, tab.class_id
    </select>

</mapper>
