<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heycm.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heycm.model.Student">
        <id column="id" property="id" />
    <result column="create_user" property="createUser" />
    <result column="create_time" property="createTime" />
    <result column="modify_user" property="modifyUser" />
    <result column="modify_time" property="modifyTime" />
    <result column="is_deleted" property="isDeleted" />
        <result column="user_id" property="userId" />
        <result column="grade_class_id" property="gradeClassId" />
        <result column="student_number" property="studentNumber" />
        <result column="student_name" property="studentName" />
        <result column="student_sex" property="studentSex" />
        <result column="student_birth" property="studentBirth" />
        <result column="student_phone" property="studentPhone" />
        <result column="student_email" property="studentEmail" />
        <result column="allow_phone_login" property="allowPhoneLogin" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        create_time,
        modify_user,
        modify_time,
        is_deleted,
        id, user_id, grade_class_id, student_number, student_name, student_sex, student_birth, student_phone, student_email, allow_phone_login, status
    </sql>

<!--  学生分页  -->
    <select id="studentPage" resultType="com.heycm.dto.StudentPageDTO">
        SELECT t1.* FROM (
            SELECT cg.profession_id, cp.profession_name, ct.id year_id, ct.type_name year_name,
                         cg.id class_id, cg.grade_class_name class_name,
                         cs.id student_id, cs.user_id, cs.student_number, cs.student_name, cs.student_sex, cs.student_birth
            FROM crim_grade_class cg
            INNER JOIN crim_student cs ON cg.id = cs.grade_class_id AND cs.is_deleted = 0
            INNER JOIN crim_profession cp ON cg.profession_id = cp.id AND cp.is_deleted = 0
            INNER JOIN crim_type ct ON cg.year_level_id = ct.id AND ct.is_deleted = 0
            WHERE cg.is_deleted = 0
        ) t1
        ${ew.customSqlSegment}
    </select>

</mapper>
